@use "../../styles/variables" as v;

.today-fact-section {
  background: linear-gradient(
    90deg,
    v.$color1-opacity-50,
    v.$color2-opacity-50,
    v.$color4-opacity-50
  );
  
  margin: 20px 20px 30px 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px v.$color1-opacity-50;

  .today-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    letter-spacing: -2px;
    
    
  }

  .today-text {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    overflow: hidden;
    
    &::first-letter {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}

.random-fact-section {
  background: linear-gradient(
    90deg,
    v.$color1-opacity-50,
    v.$color2-opacity-50,
    v.$color4-opacity-50
  );
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px v.$color1-opacity-50;
  min-width: 200px;
  

  .random-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    letter-spacing: -2px;
  }

  .random-text {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    overflow: hidden;
    
    &::first-letter {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}
