/* Common */
$color1: rgb(40, 40, 40);
$color2: rgb(93, 93, 93);
$color3: rgb(237, 237, 237);
$color4: rgb(232,82,39);
$color5: rgb(29,48,89);
$color6: rgb(59,180,172);

$color1-opacity-50: rgba(40, 40, 40, 0.5);
$color2-opacity-50: rgba(93, 93, 93, 0.5);
$color4-opacity-50: rgba(232, 82, 39, 0.5);
$color5-opacity-50: rgba(29, 48, 89, 0.5);
$color6-opacity-50: rgba(59, 180, 172, 0.5);
$color2-opacity-70: rgba(93, 93, 93, 0.7);
$vendors: ("", "-webkit-", "-moz-", "-ms-", "-o-");

/* Bootstrap variables */

$primary: $color1;
$secondary: $color2;
$success: $color3;
$warning:$color4;




